.icon {
  width 1em
  height 1em
  vertical-align -0.15em
  fill currentColor
  overflow hidden
}

.icon-container {
  display inline-block
  cursor pointer

  &:hover {
    color #4A94FA
  }
}

.icon-disable {
  color #999999 !important
  cursor default !important
}
