common-table-container() {
  padding 0 16px 16px
  // background #f1f1f1

  .header-box {
    padding-top 16px
    margin-bottom 16px
    text-align left
    // background #fff
    background #f1f1f1

    .h-form-item {
      width 100% 
      padding-right 24px
      margin-bottom 12px
    }
  }

  .content-box {
    padding 16px
    // background #fff
    background #f1f1f1

    .operate-box {
      text-align left
      margin 0 25px

      .h-btn {
        margin-right 8px
      }

      .search {
        float right
        position relative

        input {
          padding-right 26px
          font-size 12px
        }

        .icon {
          position absolute
          top 7px
          right 6px
          width 18px
          height 18px
          color $search-icon
          cursor pointer
        }
      }
    }

    .table-box {
      .h-table-cell {
        line-height 1.2
        padding-top 3px
        padding-bottom 3px
      }

      .operate-wrapper {
        .h-icon {
          margin-right 6px
          cursor pointer
          color #00CCFF
        }
      }
    }

    .table-footer {
      height 50px
      padding 10px 24px 12px 24px

      .h-page {
        height 33px
        padding 0
        text-align left
        font-size 13px
      }
    }
  }
}