//全局变量
$disable = #999999
$main-bg = #FFFFFF // 主要的背景颜色
$container-bg = #E8EBF1 // 列表页面背景色
$font-color-white = #FFFFFF // 字体白色
$border = #DBDCDE

// 菜单、页面容器、顶部导航栏
$menu-bg = #2C345B // 菜单、nav背景色
$top-bg = #262C4C
$menu-item-selected = #657180 // 选中菜单颜色
$nav-font = #7E8C8D // nav文字颜色
$nav-font-checked = #EFF4F6 // 菜单、nav文字颜色
$menu-font = #C8CACE // 菜单、nav文字颜色
$menu-input = #768291 // 菜单input颜色
$menu-input-hover = #CCCCCC // 菜单input颜色
$menu-font-hover = #4A94FA // 菜单、nav文字hover颜色
$nav-pick-bg = #6BA9FF // nav tab被选中背景色
$nav-move-icon = #889 // nav 左右移动图标颜色
$tab-bg = #E2E6EE //topbar背景颜色
